node_modules/
**/node_modules/
dist/
build/
**/dist/
**/build/
.vscode/
.idea/
.DS_Store
coverage/
**/coverage/
*.min.js
public/
**/public/
*.lock
bun.lockb
npm-debug.log
yarn-error.log
.env
.env.*
data/
data/**
backend/dist/
backend/node_modules/
dashboard/node_modules/
IDE/node_modules/
